@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis globais de cores */
:root {
  --background: hsl(206, 94%, 87%); /* Cor de fundo clara */
  --foreground: hsl(213, 96%, 18%); /* Marine blue */
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Ubuntu", sans-serif;
}
